@import url('https://fonts.googleapis.com/css?family=Exo:600');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: block;
  flex-align: center;
  flex-pack: center;
  background-color:  #000000;
  transition: background-image 0.9s ease;

}

.crackCode {
  margin-top: 150px;
  text-align: center;
  position: relative;
}


h1{

  padding:20px;
  margin:20px;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #ff9900;
  text-shadow: 0 0 5px #59b300;

}


.enterCode{
  display: inline-block;

}

.cif {
  padding: 20px;
  margin: 20px;
  width: 80px;
  height: 90px;
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
  box-shadow: inset 0 0 3px 3px #001a00;
  outline: 0 none;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

}

.cif:focus {
  border-color: #e68a00;
  box-shadow: 0 1px 1px #ff80ff inset, 0 0 8px #e68a00;
  outline: 0 none;
}



.hl1,
.hl2,
.hl3,
.hl4{
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #99ff66;
  text-shadow: 0 0 1px #00cc00;

}



.cButton{
  position:relative;
  height:40px;
  width:100px;
  padding-bottom: 10px;
  margin:20px;
  font-size: 27px;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  color: #e68a00;
  font-weight: 900;
  text-align: center;
  background-color: #fff5e6;
  vertical-align: middle;
  border: 2px solid #e68a00;
  box-shadow:   0 0 3px 3px #290033;
  outline: none;

}

.cButton:hover{
  background-color: #ff9900;
  color: #fff5e6;
}


h3{
  padding:20px;
  margin:10px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #ff9900;
  text-shadow: 0 0 3px #59b300;

}
